<nav #navbar class="navbar active">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" onClick="return false;" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="#" onClick="return false;" class="bars" (click)="mobileMenuSidebarOpen($event,'overlay-open')"></a>
            <a class="navbar-brand" routerLink="dashboard/main">
             
                <span class="logo-name">RUTS-AQI</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="pull-left collapse-menu-icon">
                <li>
                    <button mat-icon-button (click)="callSidemenuCollapse()" class="sidemenu-collapse">
                        <mat-icon>menu</mat-icon>
                    </button>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- Full Screen Button -->
                <li class="fullscreen">
                    <button mat-icon-button (click)="callFullscreen()" class=" nav-notification-icons">
                        <mat-icon>fullscreen</mat-icon>
                    </button>
                </li>
                <!-- #END# Full Screen Button -->
                <!-- #START# Notifications-->
               
                <!-- #END# Notifications-->
                
                <!-- #END# Tasks -->
                <li class="pull-right">
                    <button mat-icon-button (click)="toggleRightSidebar()"
                        class="nav-notification-icons js-right-sidebar">
                        <mat-icon id="settingBtn">settings</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>